<IfModule mod_rewrite.c>
    RewriteEngine On

    # Vérifie si le fichier ou le dossier existe
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirige tout vers index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
